<main class="container d-flex align-items-center">
  <div class="contact-main">
    <p class="display-4">Contact Us</p>
    <div class="bg-light p-5 rounded mb-3">
      <h3>Call us</h3>
      <p class="lead">
        This example is a quick exercise to illustrate how the top-aligned
        navbar works. As you scroll, this navbar remains in its original
        position and moves with the rest of the page.
      </p>
      <a class="btn btn-lg btn-primary px-4" href="#!contact" role="button"
        ><i class="fas fa-phone-alt"></i>
      </a>
    </div>
    <div class="bg-light p-5 rounded mt-3">
      <h3>Email support</h3>
      <p class="lead">
        This example is a quick exercise to illustrate how the top-aligned
        navbar works. As you scroll, this navbar remains in its original
        position and moves with the rest of the page.
      </p>
      <a class="btn btn-lg btn-primary px-4" href="#!contact" role="button">
        <i class="fas fa-envelope"></i
      ></a>
    </div>
  </div>
</main>
