<div class="register-main container mt-5">
  <div class="register">
    <p class="display-4">Register</p>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control w-100"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          autocomplete="off"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          autocomplete="off"
        />
      </div>
      <a href="#!login" class="text-muted text-decoration-none"
        >Already a User? Login here</a
      >
      <br />
      <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
  </div>
</div>
